version: "3.8"

services:
  coturn:
    image: coturn/coturn:latest
    container_name: coturn
    restart: unless-stopped

    # Host networking is required for UDP relay ports
    network_mode: host

    env_file:
      - .env

    command: >
      turnserver
      --realm=${TURN_REALM}
      --server-name=${SERVER_NAME}
      --listening-ip=0.0.0.0
      --external-ip=${PUBLIC_IP}/${PRIVATE_IP}
      --listening-port=3478
      --tls-listening-port=5349
      --min-port=10000
      --max-port=20000
      --fingerprint
      --lt-cred-mech
      --user=${TURN_USER}:${TURN_PASSWORD}
      --simple-log
      --verbose


    volumes:
      - ./logs:/var/log/turn
